:root {
    --bg-color: #323437;
    --ft-color: #d1d0c5;
    --ac-color: yellow;
    --wr-color: red;
}

* {
    color: var(--ft-color);
}

#root {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* height: 90vh; */
}

body {
    background-color: var(--bg-color);
}

button {
    border-width: 0;
}

.jst-btw {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.gap-20 {
    gap: 20px;
}

.center_vmauto {
    margin: auto 0;
}

.hor-center {
    margin: 0 auto;
}

.icons {
    fill: var(--ft-color);
}

.ic-stroke {
    stroke: var(--ft-color);
}

.text_auto {
    color: var(--ft-color);
}

.main-part p {
    font-size: 20px;
}

.bar {
    width: 80%;
}
