:root {
    --bg-color: #323437;
}

* {
    color: #d1d0c5;
}

#root {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* height: 90vh; */
}

body {
    background-color: var(--bg-color);
}

.jst-btw {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.center_vmauto {
    margin: auto 0;
}