/* .modes-manager {
    
  /* margin-top: 20%; */
/* }  */

.wrongInputText {
    display: block;
    position:relative;
    height: 30px;
}

.button-type {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid var(--ft-color);
    background-color: var(--bg-color);
    /* color: grey; */
}

.button-type:hover {
    color: white;
}

.button-type.active {
    color: orange;
}

.mode-input {
    width: 100px;
    padding: 10px;
    font-size: 1em;
    background-color: var(--bg-color);
    border: var(--ft-color) 2px solid;
    border-radius: 20px;
    color: var(--ft-color);
    /* opacity: 0.8; */
    margin-top: 10px;
}