.modes-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.wrongInputText {
    display: block;
    position: relative;
    height: 30px;
}

.button-type {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid var(--ft-color);
    background-color: var(--bg-color);
    /* color: grey; */
    transition: transform 0.2s;
}

.button-type:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button-type.active {
    color: orange;
}

.mode-input {
    width: 100px;
    height: 15.5px;
    padding: 10px;
    font-size: 1em;
    background-color: var(--bg-color);
    border: var(--ft-color) 2px solid;
    border-radius: 20px;
    color: var(--ft-color);
    /* opacity: 0.8; */
    margin-top: -10px;
}

.modes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}