.nav {
    width: 500px;    
}

.link {
    margin: auto 0;
}

.sign-in {
    width: 100px;
    align-self: center;
}

.footer-main {
    /* width: 80%; */
    height: 50px;
    padding-top: 50px;
    vertical-align: middle;
}