.nav {
    width: 500px;
    /* align-self: center; */
    /* justify-content: center; */
    
}

.link {
    margin: auto 0;
}

.sign-in {
    width: 100px;
    align-self: center;
    justify-content: end;
}

.header-main {
    height: 50px;
    padding-bottom: 50px;
    vertical-align: middle;
}

.keyboard {
    background-color: red;
    mask: url("../../assets/keyboard.svg") no-repeat center / contain;
}

.color {
    fill: blue;
}