.customButton {
    width: 320px;
    padding: 10px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    color: #757575;
    font-size: 18px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    opacity: 0.6;
}

.customButton i {
    margin-right: 5px;
}