/* span {
  color:#565861;
} */



.good-letter {
    position: relative;
    /* color: white; */
    opacity: 0.3;
}

caret-letter-before::before {
    position: absolute;
    left: -12px;
    color: yellow !important;
    content: "|";
}

/* .good-letter::before {
    
} */

.off-word-letter {
    position:relative;
    color: darkred;
}

.actual-letter {
    position: relative;
    color: red;
}

.actual-letter::after {
    content: var(--hint_letter, "_");
    position: absolute;
    top: 0.5em;
    left: 0;
    color: grey;
}
