/* span {
    opacity: 0.5;
} */

/* .good-letter {

} */

.untyped-letter {
    opacity: 0.3;
}

.off-word-letter {
    color: darkred;
}

.actual-letter {
    position: relative;
    color: red;
}

.actual-letter::after {
    content: var(--hint_letter, "_");
    position: absolute;
    top: 0.5em;
    left: 0;
    color: grey;
}