.customText {
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 40px;
    text-align: left;
    white-space: pre-wrap;
    line-height: 2em;
    position: relative;
    padding-top: 20%; */
  }
  