.theme-bth {
    width: 20%;
    height: 50px;
    border-radius: 3px;
    font-size: 30px;
    color: #d1d0c5;
    background-color: #323437;
    position: relative;
}

.theme-bth:hover {
    cursor: pointer;
}

.theme-0 {
    background-color: #323437;
    color: #d1d0c5;
}

.theme-1 {
    background-color: white;
    color: pink;
}

.theme-2 {
    background-color: #d1d0c5;
    color: #323437;
}

.caret {
    /* position: relative; */
    position: absolute;
    color: yellow;
    left: 2px;
}
