.theme-bth {
    width: 24%;
    height: 50px;
    border-radius: 3px;
    font-size: 16px;
    color: var(--ft-color);
    background-color: var(--bg-color);
    vertical-align: middle;
    text-align: center;
    /* color: #d1d0c5;
    background-color: #323437; */
    position: relative;
}

.theme-bth:hover {
    cursor: pointer;
}

@media (min-width: 1200px) {
  .theme-bth {
    font-size: 30px;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .theme-bth {
    font-size: 20px;
  }
}

.theme-0 {
    background-color: #323437;
    color: #d1d0c5;
}

.theme-1 {
    background-color: white;
    color: pink;
}

.theme-2 {
    background-color: #d1d0c5;
    color: #323437;
}

.theme-3 {
    background-color: #50586c;
    color: #dce2f0;
}

.font-0 {
    font-family: "Courier New";
}

.font-1 {
    font-family: "Roboto Mono", monospace;
}

.font-2 {
    font-family: "VT323", monospace;
}

.font-3 {
    font-family: "Xanh Mono", monospace;
}

.font-bth {
    border: solid 2px;
    border-color: var(--ft-color);
    /* vertical-align: middle; */
    /* line-height: 1em; */
}

.caret {
    /* position: relative; */
    position: absolute;
    color: yellow;
    left: 2px;
}
