.BohdanInput {
    width: 300px;
    height: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4%;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    margin-top: 10px;
}