.BohdanInput {
    height: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: var(--bg-color);
    border: solid 2px var(--ft-color);
    border-radius: 6px;
    color: var(--ft-color);
    margin-top: 10px;
}

.BohdanInput::placeholder {
    color: var(--ft-color);
    opacity: 0.8;
}
